body{
    margin: 0;
    padding: 0%;
    background-color: #f5f5dc;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    position: absolute;
 width: 70px;
 left: 50%;
 top:60px;
 transform:translate(-50%);
 z-index: 2;
}

.clock{
    position: relative;
    background-color: #a6ffa9;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 4px solid rgb(0, 0, 0);
    box-shadow: 1px 2px 44px 5px rgb(0 0 0);


}

.numbers div{
    position: absolute;
    font-size: 27px;
    font-weight: bold;
    color: lightgoldenrodyellow;
    text-shadow: 2px 1px 2px rgba(0,0,0,7);
}

.twelve{
    top:6px;
    left: 50%;
    transform:translate(-50%);
}

.six{
    bottom:6px;
    left: 50%;
    transform:translate(-50%);
}

.three{
    top:50%;
    right: 6px;
    transform:translate(0, -50%);
}

.nine{
    top:50%;
    left: 6px;
    transform:translate(0,-50%);
}

.arrows{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.arrows::before{
    content: "";
    width: 25px;
    height: 25px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0,0,0,7);
    z-index: 4;
}

.arrows div{
    position: absolute;
    height: 100px;
    width:10px;
    background-color: rgb(125, 255, 108);
    transform-origin: bottom center;
    bottom: 50%;
    z-index: 3;
    border-radius: 50% 50% 0 0;
    box-shadow: 1px 1px 2px rgba(0,0,0,7);
}

.arrows .minute{
    background-color: coral;
    height: 120px;
    width: 7px;
    transform: rotate(30deg);
}

.arrows .seconds{
    height: 135px;
    transform: rotate(60deg);
    width: 5px;
    background-color: rgb(0, 0, 0);
}

.btn{
    position: absolute;
    display: flex;
    bottom: -25%;
    left:50%;
    transform: translate(-50%);
    padding: 12px 25px;
    border: 2px solid #ffffff;
    background-color: #ffff00;
    color: rgb(185, 0, 0);
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(141, 30, 30, 2);
    font-size: 18px;
    cursor:pointer;
    font-family: cursive;

}

#dark{
    position: relative;
    left : 140%;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-weight: bolder;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    bottom: 60%;
    transform: translate(-50%);
    font-family: monospace;
    background-color: #000000;
    color: whitesmoke;
    border-color: black;
    box-shadow: 1px 2px 5px rgb(0 0 0);
}

/* final */

p{
    position: absolute;
    bottom: 0px;
    left:0px;
    padding: 5px 0 5px 10px;
    font-family: monospace;
    font-weight: bold;
    width: 100%;
    height: 15px;
    background-color: #ffffff;

}
